# Conda
env/
.conda/

# Python
__pycache__/
*.pyc

# C/C++ and V
# This catches all Windows executables
*.exe
# This catches Linux/Mac compiled binaries
solution
*.out
*.o
*.obj

# Node
node_modules/
package-lock.json

# Java
*.class
# If you use IDEs like IntelliJ or VS Code
.project
.classpath
.settings/
bin/